:root {
  --bg-dark: #22262b;
  --bg-white: #fff;
  --bg-gray: #f4f4f4;
}
img {
  width: 100%;
}
hr {
  margin: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.grid-header {
  font-size: 1.5rem;
}
.bg-white {
  background-color: var(--bg-white);
}
.bg-dark {
  background-color: var(--bg-dark);
}
.bg-gray {
  background-color: var(--bg-gray);
}
.fc-white {
  color: var(--bg-white);
}
.fc-blue {
  color: blue;
}
.fs-login {
  font-size: 4rem;
}
.nav {
  font-size: 1.5rem;
}
.nav .material-symbols-outlined {
  font-size: 3rem;
}
#label-icon .material-symbols-outlined {
  rotate: -45deg;
}
.orders-top {
  font-size: 1.5rem;
  font-weight: bold;
}
.orders-top .material-symbols-outlined {
  font-size: 2rem;
}
.search-order input {
  border-radius: 15px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 1rem;
}
.search-order input:focus {
  outline: none;
}
.search-order input::placeholder {
  font-size: 1rem;
}
.orders {
  border-radius: 10px;
  box-shadow: 0px 0px 3px black;
}
.login .material-symbols-outlined {
  font-size: 6rem;
}
.login input {
  padding-left: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.login input:focus,
.register input:focus {
  outline: none;
}
.login button[type="submit"] {
  border-radius: 10px;
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  background-color: var(--bg-dark);
  color: white;
  padding: 1rem 5rem;
}
.login button:focus {
  outline: none;
}
.bg-green {
  background-color: green;
}
.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: blue;
}
.bg-yellow {
  background-color: yellow;
}
#status {
  border-radius: 10px;
  color: white;
}

.dash-info-box {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  color: white;
}
.nav-item:hover {
  text-decoration: underline;
  text-decoration-skip: 100px;
}
.action-icon {
  margin-top: -0.7rem;
}
.product-add-input {
  border: none;
  padding: 0.3rem 1rem 0.3rem 0.1rem;
  background-color: inherit;
  border-bottom: 1px solid black;
  outline: none;
}
.product-add-input:focus {
  outline: none;
}
.input-container {
  position: relative;
  float: left;
}

.input-container:after {
  position: absolute;
  right: 25px;
  top: 6px;
  content: "PLN";
}
.floating-alert {
  color: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  display: none;
  position: absolute;
  z-index: 999;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  -moz-animation: floatingAlert ease-in 2s forwards;
  -webkit-animation: floatingAlert ease-in 2s forwards;
  -o-animation: floatingAlert ease-in 2s forwards;
  animation: floatingAlert ease-in 2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
  display: block;
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

@-webkit-keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

#register-btn {
  padding: 0.5rem 5rem;
}
.register-right {
  padding-left: 10rem;
  padding-right: 11rem;
}
.register input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: inherit;
}
.input-group-register {
  position: relative;
}
.input-group-register .register-icon {
  position: absolute;
  top: 0px;
  right: 0px;
}
.password-rules {
  font-size: 0.9rem;
  padding: 0.1rem 0.5rem;
  font-weight: bold;
}
.items-row {
  padding: 1.8rem 1.5rem;
}
.cart-product {
  padding: 1rem 1rem;
}
.cart-product-radius-top-left {
  border-top-left-radius: 10px;
}
.cart-product-radius-bottom-left {
  border-bottom-right-radius: 10px;
}
.cart-product-radius-bottom-left {
  border-bottom-left-radius: 10px;
}
.cart-product-radius-top-right {
  border-top-right-radius: 10px;
}
.cart-order {
  padding-inline: 4rem;
  border-bottom: 2px solid black;
}
